* {
  /* font-family: "JetBrains Mono", "Iosevka Nerd Font", archcraft, sans-serif; */
  font-family: "SF Pro Display";
  /* color: #eb4d4b; */
  font-weight: 600;
  /* font-size: 17px; */
  font-size: 20px;
}

window {
  margin: 0px;
  border: 1px solid #133c63;
  border-radius: 8px;
  background-color: rgba(3, 18, 28, 0.9);
}

/* hide search icon */
#input image:first-child {
  /* margin-left: -100px; */
  margin-right: 5px;

}

/* #input image:last-child { */
/* margin-right: -100px; */
/* } */

#input image {
  color: #eb4d4b;
}

#input {
  margin: 8px;
  font-size: 22px;
  font-weight: normal;
  border-radius: 8px;
  /* border: 1px solid #133c63; */
  background-color: rgba(3, 18, 28, 1);
  color: rgba(196, 229, 242, 0.8);
  padding: 5px 12px;
}

#inner-box {
  margin: 5px;
  border: none;
}

#outer-box {
  margin: 5px;
  border: none;
}

#scroll {
  margin: 0px;
  border: none;
}

#text {
  margin: 5px;
  border: none;
  color: rgba(196, 229, 242, 0.8);
}

#entry:selected {
  border-radius: 8px;
  border: 1px solid #133c63;
  background-color: rgba(9, 32, 51, 0.7);
}
